.header__name
  %h1 Phil Schilter

.header__title
  %h2 Frontend Engineer

.header__avatar
  = image_tag 'images/avatar.png'

.header__contact
  %p
    %span.font__bold
      e:
    %a{ href: 'mailto:phil.schilter@gmail.com' }
      phil.schilter@gmail.com
