- content_for :head do
  %title Phil Schilter
  %meta{ name: 'keywords', content: 'frontend, front end, engineer' }
  %meta{ name: 'description', content: "My name is Phil. I'm a Frontend Engineer" }
