.header
  padding: 0 10px

.header__name
  border: 2px solid $color__primary
  padding: 10px 0
  width: 100%
  max-width: 650px
  margin: 50px auto 20px auto

.header__title
  margin-bottom: 20px

.header__avatar
  width: 100px
  height: 100px
  margin: 0 auto 20px auto

  img
    width: 100%

.header__contact
  text-align: center
